.link {
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  color: var(--main-color);
  font-weight: 700;
  line-height: 135%;
  text-decoration: none;
  margin-right: 5px;
}

.active {
  color: #7EBC3C;
}